/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.text_weight_bold {
  --wght: 900;
}

.text_weight_regular {
  --wght: 400;
}

.content {
  inline-size: 100vw;
}

.page {
  background: url(../images/background.png) no-repeat center / cover;
  background-image: repeating-linear-gradient(90deg, #d3d3d3, transparent 2px);
  background-color: #fff;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Open Sans');
  font-variation-settings: 'wght' var(--wght, 100);
  font-size: 18px;
}

.header {
  border: 2px solid #000;
  background-image: none;
  background-color: #fff;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  margin-block: 100px;
  padding-block: 120px;
  font-family: var(--accent-font, "Open Sans");
  font-size: clamp(0.875rem, 0.3383rem + 2.2901vw, 1.4375rem);
}

.header-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: inherit;
}

.logo {
font-weight: 900;

  font-size: clamp(3.0625rem, 2.1083rem + 4.0712vw, 4.0625rem);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px
}

.card {
  background-color: #fff;
  inline-size: 100%;
}

.card__title {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;


  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--wght);
}

.card__picture {
  position: relative;

}

.card__image {
  inline-size: 100%;

  display: block;
  object-fit: cover;
  object-position: center center;
}

.card__pictire-label {
  content: '';
  position: absolute;
  mix-blend-mode: normal;
  font-family: var(--accent-font, "Open Sans");
  font-size: 14px;
  inset-inline-end: 13px;
  inset-block-start: 25px;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
}

.card__content {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}


@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__pictire-label {
    -webkit-text-stroke: .08em rgb(256 256 256 / .5);
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.card__content {
  font-variation-settings: 'wght' var(--wght);
  line-height: 1.179em;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__like-button {
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: end;
  background-color: transparent;
}

.button__text {
  font-family: var(--accent-font, "Open Sans");
  font-size: 14px;
  background-color: #fff;
}

.like-icon + .button__text {
  padding-inline: 35px;
  padding-block: 10px;
  border: 2px solid #000;
}

.footer {
  display: flex;
  justify-content: center;
  padding-block: 52px 100px;
}

.memory-button  {
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 8px;
  flex-direction: column;
  padding-inline: 20px;
  padding-block: 15px;
}

.memory-dialog {
  border: 2px solid #000;
  padding: 30px;
  text-transform: uppercase;
  font-family: var(--accent-font, "Open Sans");
  font-size: 14px;
  position: fixed;
  text-align: center;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.memory-dialog:not([open]) {
  pointer-events: none;
}

.memory-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-content {
  align-items: center;
  line-height: 150%;
  gap: 20px;
  display: flex;
  text-align: start;
}

.dialog--btn-close {
  line-height: 90%;
  text-transform: uppercase;
  padding: 11px 112px;
}

.memory-dialog[open]::backdrop {
 backdrop-filter: brightness(25%);
}


@supports (font-variation-settings: normal) {

}

@media (width >= 768px) {
  
}


