/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.text_weight_bold {
  --wght: 700;
}

.text_weight_regular {
  --wght: 400;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/background.png) no-repeat center / cover;
  background-image: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), 
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-color: #fff;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), 'Arial', sans-serif;
  font-variation-settings: "wght" var(--wght, 100);
  font-size: 18px;
}

.header {
  border: 2px solid #000;
  background-image: none;
  background-color: #fff;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(375px, 48.9vw, 700px);
  margin-block: 101px;
  padding-block: 128px;
  font-family: var(--accent-font, "PressStart2P"), 'fantasy', sans-serif;
}

.logo {
  font-weight: 900;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
}

.header-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
}

.content {
  inline-size: clamp(375px, 48.9vw, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #fff;
  inline-size: 100%;
}

.card__title {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght);
}

.card__picture {
  position: relative;
  border: 2px solid black;
}

.card__image {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.filters_hue-rotate_brght {
  filter: hue-rotate(-30deg) brightness(50%);
}

.filter_grayscale {
  filter: grayscale(0.9);
}

.filter_saturate {
  filter: saturate(110%);
}

.filter_sepia {
  filter: sepia(60%);
}

.filter_invert {
  filter: invert(0.7);
}

.filter_contrast {
  filter: contrast(150%);
}

.filters_blur_brght {
  filter: blur(0.5rem) brightness(70%);
}

.filter_opacity {
  filter: opacity(50%);
}

.card__pictire-label {
  content: "";
  position: absolute;
  mix-blend-mode: normal;
  font-family: var(--accent-font, "PressStart2P"), 'fantasy', sans-serif;
  font-size: 14px;
  inset-inline-end: 13px;
  inset-block-start: 25px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__pictire-label {
    -webkit-text-stroke: 0.08em rgb(256 256 256 / 0.5);
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__content {
  font-variation-settings: "wght" var(--wght);
  line-height: 21.2px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-inline: 25px;
  padding-block: 25px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__buttons {
  display: flex;
  align-self: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 37px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__icon-button:focus-visible .like-icon {
  position: relative;
}

.core,
.main-body,
.sparks {
  fill: transparent;
}

.like-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  transition: fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart--animation-color);
}

.like-icon:active .main-body {
  fill: var(--heart--animation-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart--animation-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart--animation-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart--animation-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: heart_sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: heart_scale 0.3s 0.1s ease-in;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: end;
}

.card__button-effect {
  cursor: pointer;
  position: relative;
  z-index: 4;
  border: 2px solid #000;
  background-color: var(--hidden-color);
  transition: box-shadow 0.3s;
}

.card__button-effect svg {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}

.card__button-effect span {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}

.card__button-effect:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__button-effect:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.card__button-effect:hover:after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font, "PressStart2P"), 'fantasy', sans-serif;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
}

.memory-button {
  display: flex;
  position: relative;
  align-items: center;
  gap: 6px;
  padding-inline: 19px;
  padding-block: 14px;
  margin-block-end: 103px;
}

.memory__btm-icon {
  inline-size: 24px;
  block-size: 21px;
}

.memory-dialog {
  background-color: #fff;
  border: 2px solid #000;
  padding: 30px;
  text-transform: uppercase;
  min-inline-size: 320px;
  max-inline-size: 353px;
  font-family: var(--accent-font, "PressStart2P"), 'fantasy', sans-serif;
  font-size: 14px;
  position: fixed;
  text-align: center;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.memory-dialog:not([open]) {
  pointer-events: none;
}

.memory-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-content {
  align-items: center;
  line-height: 150%;
  gap: 20px;
  display: flex;
  text-align: start;
}

.dialog--btn-close {
  border: 2px solid var(--hidden-color);
  --accent-color: var(--hidden-color);
  background-color: transparent;
  line-height: 90%;
  text-transform: uppercase;
  padding: 11px 112px;
}

.memory-dialog[open]::backdrop {
  backdrop-filter: brightness(25%);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, "Inter-Variable"), 'Arial', sans-serif;;
  }
}

@media (width <= 376px) {
  .header {
    inline-size: 100%;
    margin-block: 100px;
    padding-block: 119px;
  }

  .content {
    inline-size: 100%;
    gap: 48px;
  }

  .memory-dialog {
    padding-inline: 40px;
  }

  .memory-button {
    flex-direction: column;
    gap: 10px;
    margin-block-end: 100px;
    padding-inline: 20px;
    padding-block: 14px;
  }

  .memory__btm-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
