/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --wght: 100;
    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P-Regular";
    --accent-color: #000;
    --hidden-color: #fff;


    --heart--animation-color: red;
    --heart--contour-color: var(--accent-color);
    --heart--core-color: white;
    --heart--main-body-color: var(--heart--animation-color);
    --heart--sparks-color: var(--heart--animation-color);
}

